body {
    margin: 0;
    background: transparent linear-gradient(180deg, #F1F7F7 0%, #047373 53%, #09F8F8 100%) 0% 0% no-repeat padding-box;
}

.container5{
    width: 100vw;
    height: 100vh;
}

i.fas.fa-bars.extraClass{
    color: #561134;
}

.house_icon{
    font-size: 5.43em;
    top: 18px;
    left: 1766px;
    position: absolute;
    width: 98px;
    height: 96px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 5px solid #32344e;
    border-radius: 27px;
}

.house_icon>a>i.fas.fa-bars{
    top: 5px;
    left: 14px;
    position: relative;
}

.house_icon>a:active {
    color: #047373;
}

#this_slope{
    position: absolute;
    top: -13px;
    left: 218px;
    width: 1394px;
    height: 154px;
    text-align: center;
    font: italic normal normal 116px/154px Segoe UI;
    color: #073533;
}

.b1{
    position: absolute;
    top: 90vh;
    left: 63vw;
}

#o2{
    position: absolute;
    top: 16vh;
    left: 53vw;
    width: 45vw;
}

.notka{
    position: absolute;
    top: 16vh;
    left: 2vw;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 5px solid #134A41;
    width: 48vw;
    height: 80vh;
    overflow: scroll;
}

@media only screen and (max-device-width: 1440px) {

    body {
        background: transparent linear-gradient(180deg, #EFF6F6 0%, #08D1D1 16%, #047373 53%, #08D1D1 84%, #EFF6F6 100%) 0% 0% no-repeat padding-box;
        background-repeat: repeat;
        overflow: scroll;
    }

    .house_icon {
        font-size: 10em;
        top: 52px;
        left: 1178px;
        width: 168px;
        height: 173px;
        border: 11px solid #32344e;
    }

    #this_slope {
        top: 291px;
        left: 84px;
        width: 1204px;
    }

    #o2 {
        position: absolute;
        top: 16vh;
        left: 3vw;
        width: 94vw;
    }

    .notka {
        position: absolute;
        top: 57vh;
        left: 3vw;
        border: 8px solid #134A41;
        width: 93vw;
        height: 80vh;
        overflow: scroll;
    }

    .b1{
        position: absolute;
        top: 141vh;
        left: 4vw;
        font-size: 5.43em;
        width: 92vw;
        height: 4vh;
    }

    #bu1{
        position: absolute;
        top: 0vh;
        left: 0vw;
        width: inherit;
    }

    #o1 {
        top: -30px;
        left: -26px;
        width: 1070px;
        height: 395px;
    }

}